# Unity игнорируемые файлы и папки

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Файлы Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj

# Файлы Rider
.idea/
*.sln.iml

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Автосохранения Unity
*.unitypackage
*.tmp
*.temp

# Плагины
*.dll
